<ion-view view-title="融理财">
    <ion-content>
      <div class="list">

        <div class="row">
          <div class="col-50" style="text-align:center;margin-top:10px">
            <p>理财资产</p>
            <p style="color:#1085a6">78,629,615.00元</p>
          </div>
          <div class="col-50" style="text-align:center;margin-top:10px">
            <p>我的银行卡</p>
            <p style="color:#1085a6">3个</p>
          </div>
        </div>
        <div class="row" >
          <div class="col" style="text-align:center" >
            <hr class=dotline color="#d8d8d8" size="1px">
            <hr class=dotline color="#d8d8d8" size="1px" style="margin-top:10px">
          </div>
        </div>
        <div class="row">
          <div class="col-50" style="text-align:center;margin-top:5px">
            <p style="text-align:left;margin-left:10px">我的银行卡</p>
          </div>
          <div class="col-50" style="text-align:center;margin-top:5px">
            <a ui-sref="home.myBankCard({mbcId:1})"><p style="color:#30c9f4;text-align:right;margin-right:10px">更多银行卡></p></a>
          </div>
        </div>
        <div class="row">
          <div class="col" style="text-align:center;margin-top:5px" >
            <hr class=dotline color="#d8d8d8" size="1px">
          </div>
        </div>
        <div class="row">
          <div class="col-50" style="text-align:center;margin-top:5px">
            <p style="text-align:left;margin-left:10px;color:#919191">中国银行
              <span style="text-align:left;margin-left:10px;color:#1c1c1c">63** **** ****</span></p>
          </div>
          <div class="col-50" style="text-align:center;margin-top:5px">
            <p style="color:#30c9f4;text-align:right;margin-right:10px">></p>
          </div>
        </div>
        <div class="row">
          <div class="col-50" style="text-align:center;margin-top:25px">
            <p style="text-align:left;margin-left:10px;color:#919191">交通银行
              <span style="color:#1c1c1c;text-align:left;margin-left:10px">63** **** ****</span></p>
          </div>
          <div class="col-50" style="text-align:center;margin-top:25px">
            <p style="color:#30c9f4;text-align:right;margin-right:10px">></p>
          </div>
        </div>
        <div class="row" >
          <div class="col" style="text-align:center" >
            <hr class=dotline color="#d8d8d8" size="1px">
            <hr class=dotline color="#d8d8d8" size="1px" style="margin-top:10px">
          </div>
        </div>
        <div class="row">
          <div class="col-50" style="text-align:center;margin-top:5px">
            <p style="text-align:left;margin-left:10px">我的理财</p>
          </div>
          <div class="col-50" style="text-align:center;margin-top:5px">
            <p style="color:#30c9f4;text-align:right;margin-right:10px">所有理财></p>
          </div>
        </div>
        <div class="row" >
          <div class="col" style="text-align:center" >
            <hr class=dotline color="#d8d8d8" size="1px">
            <hr class=dotline color="#d8d8d8" size="1px" style="margin-top:10px">
          </div>
        </div>
        <div class="row">
          <div class="col-50" style="text-align:left;margin-top:10px">
            <p style=";margin-left:10px">日日盈1号</p>
            <p style="color:#cccccc;margin-left:10px">累记收益:￥312.23</p>
          </div>
          <div class="col-50" style="text-align:right;margin-top:10px">
            <p style="color:#ff482b;margin-right:10px">￥6,719.00</p>
            <p style="color:#cccccc;margin-right:10px">近7日涨幅6.60%</p>
          </div>
        </div>
        <div class="row">
          <div class="col" style="text-align:center;margin-top:5px" >
            <hr class=dotline color="#d8d8d8" size="1px">
          </div>
        </div>
        <div class="row">
          <div class="col-50" style="text-align:left;margin-top:10px">
            <p style="margin-left:10px">月月赚2号</p>
            <p style="color:#cccccc;margin-left:10px">累记收益:￥2.83</p>
          </div>
          <div class="col-50" style="text-align:right;margin-top:10px;;margin-right:10px">
            <p style="color:#ff482b;margin-right:10px">￥48,109.00</p>
            <p style="color:#cccccc;margin-right:10px">近7日涨幅1.80%</p>
          </div>
        </div>
        <div class="row" >
          <div class="col" style="text-align:center" >
            <hr class=dotline color="#d8d8d8" size="1px">
            <hr class=dotline color="#d8d8d8" size="1px" style="margin-top:10px">
          </div>
        </div>
        <div class="row">
          <div class="col-50" style="text-align:center;margin-top:5px">
            <p style="text-align:left;margin-left:10px">精选理财</p>
          </div>
          <div class="col-50" style="text-align:center;margin-top:5px">
            <p style="color:#30c9f4;text-align:right;margin-right:10px">所有理财></p>
          </div>
        </div>
        <div class="row">
          <div class="col" style="text-align:center;margin-top:5px" >
            <hr class=dotline color="#d8d8d8" size="1px">
          </div>
        </div>
        <div class="row">
          <div class="col-50" style="text-align:left;margin-top:10px">
            <p style="margin-left:10px">聚宝盆007</p>
            <p style="color:#cccccc;margin-left:10px">期限丰富，千元起投。</p>
          </div>
          <div class="col-50" style="text-align:right;margin-top:16px;;margin-right:10px">
            <p style="color:#919191;margin-right:10px">约定年收益
              <span style="color:#ff482b">4.56%</span>起</p>
          </div>
        </div>
        <div class="row">
          <div class="col" style="text-align:center;margin-top:5px" >
            <hr class=dotline color="#d8d8d8" size="1px">
          </div>
        </div>
        <div class="row">
          <div class="col-50" style="text-align:left;margin-top:10px">
            <p style="margin-left:10px">聚宝盆007</p>
            <p style="color:#cccccc;margin-left:10px">期限丰富，千元起投。</p>
          </div>
          <div class="col-50" style="text-align:right;margin-top:16px;;margin-right:10px">
            <p style="color:#919191;margin-right:10px">约定年收益
              <span style="color:#ff482b">4.56%</span>起</p>
          </div>
        </div>
      </div>
    </ion-content>
</ion-view>
