
<ion-view view-title="首页">
  <ion-content>
    <div class="list">
      <div class="row">
        <div class="item item-image">
          <img src="img/banner 2.jpg"/>
        </div>
      </div>
      <div class="row">
        <div class="col-25" style="text-align:center;margin-top:30px">
          <a ui-sref="home.around">
            <img src="img/home_11.png" style="height:90px" />
            <div>
              <p>融周边</p>
            </div>
          </a>
        </div>
        <div class="col-25" style="text-align:center;margin-top:30px">
          <a ui-sref="home.commodities">
            <img src="img/bag_14.png" style="height:90px"/>
            <div>
              <p>融商品</p>
            </div>
          </a>
        </div>
        <div class="col-25" style="text-align:center;margin-top:30px">
          <a ui-sref="home.financial">
            <img src="img/arrow_16.png" style="height:90px"/>
            <div>
              <p>融理财</p>
            </div>
          </a>
        </div>
        <div class="col-25" style="text-align:center;margin-top:30px">
          <a ui-sref="home.installments">
            <img src="img/home_18.png" style="height:90px"/>
            <div>
              <p>融分期</p>
            </div>
          </a>
        </div>
      </div>
      <div class="row" style="margin-top:20px">
        <div class="col" style="text-align:center" rowspan="2">
          <hr class=dotline color="#77d5f7" size="2px">
        </div>
        <div style="color:#77d5f7;font-weight:bold;text-align:center">今 日 优 选</div>
        <div class="col" style="text-align:center" rowspan="2">
          <hr class=dotline color="#77d5f7" size="2px">
        </div>
      </div>
    </div>
    <div class="list">
      <div class="row">
        <div class="col-50" style="text-align:right;width:100%;margin-top:10px">
          <a href="#">
            <img src="img/A.png"  />
          </a>
        </div>
        <div class="col-50" style="text-align:left;width:100%;margin-top:10px;margin-left:20px">
          <a href="#">
            <img src="img/B.png"  />
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-50" style="text-align:right;width:100%;margin-top:20px;margin-bottom:30px">
          <a href="#">
            <img src="img/C.png"  />
          </a>
        </div>
        <div class="col-50" style="text-align:left;width:100%;margin-top:20px;margin-bottom:30px;margin-left:20px">
          <a href="#">
            <img src="img/D.png" />
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
